.header {
  display: flex;
  background-repeat: no-repeat;
  background-position: right;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  position: relative;
  box-sizing: border-box;
  background-image: url(../images/background_header.svg);
  background-color: #ffffff;
  background-size: cover;
  z-index: 1;
}
.header__span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
  max-width: 729px;
  display: block;
  margin-top: 80px;
}
.header__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 28px;
  margin-left: 80px;
  max-width: 729px;
}
.header__description {
  max-width: 638px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 0 80px;
}
.header__image {
  z-index: -1;
  margin-top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
  position: absolute;
}
.header__footer {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-top: auto;
  margin-bottom: 40px;
  margin-right: 80px;
}
.header__paragraph {
  z-index: 3;
  margin: 0;
  margin-left: 80px;
}
