.reservation {
  background-image: url(../images/background_reservation.svg);
  background-color: #d9e7ff;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 90px 0 215px;
}
.reservation__title {
  font-family: "inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  display: flex;
  justify-content: center;
}
.reservation__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
